
.profile-section {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #85BAA1;
  background-image: url("/images/axiom-pattern.png");
}

