.new-tweet {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding:1em;
  margin: 0.5em;
}

.new-tweet form {
  width:100%;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #545149;
  margin:0px;
  padding-top: 12px;
}

.new-tweet button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #f4f1ec;
  
}

.new-tweet button:hover {
  color: #D2F1E4;
  box-shadow: 5px 5px #545149;
}

.new-tweet textarea {
  border: transparent;
  height: 1.2em;
  width:100%;
  font-size: 0.8em;
  background-color: #f4f1ec;
  margin:0px;
  padding:20px;
}

.counter { 
  font-family: 'Bungee', cursive;
}